// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

figcaption {
  color: #666;
  text-align: center;
}

blockquote {
  font-size: 95%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.post-list {
  article {
    margin-bottom: 20px;
    border-radius: 4px;
    background: #fbfbfb;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.06);
    overflow: hidden;
    display: flex;
    @media (max-width: 600px) {
      flex-direction: column;
    }

    .post-thumbnail {
      @media (min-width: 600px) {
        max-width: 260px;
      }
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: space-around;
      img {
        // object-fit: cover;
        max-height: 100%
      }
    }

    .post-heading {
      padding: 10px 20px;

      h3 {
        line-height: 1.2;
        margin-top: 5px;
        margin-bottom: auto;
      }

      p {
        margin-top: 20px;
        margin-bottom: 6px;
      }
    }
  }
}

figure > img  {
  margin: 0 auto;
}

.post-content {
  h1, h2, h3 {
    margin-top: 40px;
  }
}

.newsletter-form {
  @media (min-width: 600px) {
    border-left: 1px solid #eee;
    margin-left: 10px;
    padding-left: 50px !important;
    width: 80%;
  }

  input {
    padding: .7rem .75rem;
    font-weight: 400;
    color: #53657a;
    background-color: #fff;
    border: 1px solid #b4c2d3;
    border-radius: .3rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  }

  button {
    color: #4079bf;
    background-color: #fff;
    border: 1px solid #4079bf;
    border-radius: 4px;
    padding: 5px 20px 8px;
    text-align: center;
    cursor: pointer;
  }
}

.tag-posts {
  p {
    &:before {
      content: '';
      display: inline-block;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      top: 11px;
      background-color: #777;
      margin-right: 13px;
      position: relative;
    }

    display: flex;

    .date {
      text-align: right;
      flex-grow: 1;
    }
  }
}
