// Placeholder to allow overriding predefined variables smoothly.

$background-color: #fff;
$base-font-size: 17px;
$base-line-height: 1.7;
$text-color: rgb(36, 41, 46);
$link-base-color: #1d60a3;
$link-visited-color: $link-base-color;
$link-hover-color: #0366d6;
$code-background-color: #f0f0f0;
