---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}


  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}
  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <div class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
        <article>
          {%- if post.image -%}
          <a href="{{ post.url | relative_url }}" class="post-thumbnail">
            <img src="{{ post.image }}" alt="{{ post.title | escape }}" />
          </a>
          {%- endif -%}
          <div class="post-heading">
            <h3>
              <a class="post-link" href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
              </a>
            </h3>
            <span class="post-meta">{{ post.date | date: date_format }}</span>
            {%- if site.show_excerpts -%}
            <p>{{ post.excerpt }}</p>
            {%- endif -%}
          </div>
        </article>
      {%- endfor -%}
    </div>

    {% if site.paginate %}
    <div class="pager">
      <ul class="pagination">
        {%- if paginator.previous_page %}
        <li>
          <a
            href="{{ paginator.previous_page_path | relative_url }}"
            class="previous-page"
            >{{ paginator.previous_page }}</a
          >
        </li>
        {%- else %}
        <li><div class="pager-edge">•</div></li>
        {%- endif %}
        <li><div class="current-page">{{ paginator.page }}</div></li>
        {%- if paginator.next_page %}
        <li>
          <a
            href="{{ paginator.next_page_path | relative_url }}"
            class="next-page"
            >{{ paginator.next_page }}</a
          >
        </li>
        {%- else %}
        <li><div class="pager-edge">•</div></li>
        {%- endif %}
      </ul>
    </div>
    {%- endif %}
  {%- endif -%}
</div>
