---
layout: default
---

<section class="posts">
  <h1>Tag #{{page.tag}}</h1>
  <div class="tag-posts">
    {% for post in site.posts %}
    {% if post.tags contains page.tag %}
    <p>
      <a class="post" href="{{ post.url }}">{{ post.title }}</a>
      <time class="date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%m-%d-%Y" }}</time>
    </p>
    {% endif %}
    {% endfor %}
  </div>
</section>
